<mat-card>
    <mat-card-title>
        Приглашение в чат
    </mat-card-title>
    <mat-card-content>
        Пользователь {{data.sender.name}} приглашает вас в чат
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="accept(true)">
            Принять
        </button>
        <button mat-flat-button (click)="accept(false)">
            Отклонить
        </button>
    </mat-card-actions>
   
</mat-card>