<div style="float:left; height:88%; width:29.8%; border-right:1px solid #d4c6cb">
    <div style="width: 100%; display: flex;">
        <input matInput style="width: 85%; height: 56px; padding: 10px;"
        placeholder="Поиск..." [(ngModel)]="search" (keyup.enter)="searchUsers()">
       <button mat-flat-button style="width: 15%;float: right;"     
        (click)="searchUsers()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <div style="height: 90%; overflow-y: auto;">
        <div *ngIf="userList.length>0">
            <div *ngFor="let user of searchList">
                <button  mat-menu-item (click)="startChat(user)">{{user}}</button>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>
</div>
<div style="float:left; height:90%; width:70%;">
    <app-chat></app-chat>
</div>
