<div style="display:flex; height: 90%; width: 100%;">
    <mat-card style="margin: auto;">
        <mat-card-header>
            <mat-card-title>Sign In</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="signInForm">
                <mat-card-content>
                  <mat-form-field [formGroup]="signInForm">
                    <input matInput placeholder="Никнейм" formControlName="nickname"/>
                  </mat-form-field>
                </mat-card-content>
                <button [disabled]="signInForm.invalid" (click)="onSubmit()"
                 mat-flat-button color="primary" type="submit">
                  Ok
                </button>
            </form>            
        </mat-card-content>
    </mat-card>
</div>
