<mat-toolbar color="primary">
    <button
      style="margin-right: 15px;"
      mat-icon-button
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="exit()" [disabled]="!service.currentUser">
      <mat-icon>exit_to_app</mat-icon>
      <span>Выйти</span>
    </button>
  </mat-menu>
  <span *ngIf="service.currentUser"style="margin-left:auto">
    {{service.currentUser.name}}
  </span>
</mat-toolbar>