<div>
    <div style="width: 100%; height: 500px; float: left; overflow-y: scroll;">
        <div *ngFor="let m of messages" style="overflow: hidden;">
            <div *ngIf="parse(m.content).pic!=null && m.sender == service.currentUser.id" style="width: 200px; height:200px;float:right;">
                <img style="width: 100%;height: 100%;object-fit: cover;" [src]="parse(m.content).pic">
            </div>
            <div *ngIf="parse(m.content).pic!=null && m.sender == service.correspondent.id" style="width: 200px; height:200px;">
                <img style="width: 100%;height: 100%;object-fit: cover;" [src]="parse(m.content).pic">
            </div>
            <div *ngIf="parse(m.content).pic==null && m.sender == service.currentUser.id" class="box_right sb1">
                    {{service.currentUser.name}}:{{m.content}}
            </div>
            <div *ngIf="parse(m.content).pic==null && m.sender == service.correspondent.id" class="box_left sb2">
                    {{service.correspondent.name}}:{{m.content}}
            </div>
        </div>
    </div>
    <div style="float:left;height: 30%;width: 100%;">
        <div style="float:left;">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>attach_file</mat-icon>
            </button>
            <mat-menu #menu="matMenu" style="height: 300px; width: 300px;">
                <mat-grid-list cols="4" rowHeight="2:2" style="height: 300px; width: 300px;">
                    <mat-grid-tile  *ngFor="let mem of memArr">
                        <img style="width: 100%;height: 100%;object-fit: cover; cursor:pointer" [src]="mem" (click)="sendPic(mem)">
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-menu>
        </div>
        <div style="margin-top:auto; display: flex; float:left; width: 90%;">
            <textarea matInput style="width: 85%; margin-right: 10px;
             margin-left: 10px; resize: none;border: 0.5px solid #d4c6cb; border-radius: 5px;
             overflow: hidden; height: 36px; padding: 10px;" 
            placeholder="Введите сообщение..." [(ngModel)]="msg.content">
            </textarea>
            <button mat-flat-button style="width: 5%; height:100%;" (click)="sendMessage()">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </div>
</div>
