.box_left {
    width: 300px;
    margin: 20px;
    margin-right: 45%;
    background: #b459ff;
    padding: 20px;
    text-align: right;
    color: #fff;
    position: relative;
}
.box_right {
    width: 300px;
    margin: 20px;
    margin-left: 45%;
    background: #b459ff;
    padding: 20px;
    text-align: left;
    color: #fff;
    position: relative;
}
.sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #b459ff;
    border-right: 10px solid transparent;
    border-top: 10px solid #b459ff;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 6px;
}
.sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #b459ff;
    border-top: 10px solid #b459ff;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}
  